@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* Hide the scrollbar */
body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Microsoft Edge */
  overflow: -moz-scrollbars-none; /* Old Firefox */
}

/* Enable scrolling */
body::-webkit-scrollbar {
  width: 0; /* Customize the scrollbar width if desired */
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0); /* Make the scrollbar thumb transparent */
}

body::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0); /* Make the scrollbar track transparent */
}
@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
  }
}